@charset 'utf-8';


@media (min-width: 1024px) 
{
    #scroll-section-0 h1
    {
        font-size: 10vw;
    }
    .main-message
    {
        font-size: 4vw;
    }
    .description
    {   
        font-size: 3rem;
    }
    .description strong
    {
        font-size: 6rem;
    }
    #scroll-section-2 .main-message
    {
        font-size: 6vw;
    }
    .main-message small
    {
        font-size: 1.5vw;
    }
    .desc-message
    {
        width: 20%;
    }
    .mid-message
    {   
        margin-top: 1%;
        text-align: center;
        padding: 0;
        font-size: 2vw;
    }

    .canvas-caption 
    {   
        margin-top: -8rem;
        padding: 0;
        color: white;
        padding: 0 1rem;
        font-size: 3rem;
    }
    #scroll-section-2 .b
    {
        top: 20%;
        left: 53%;
    }
    #score-section-2 .c
    {
        left: 55%;
    }

    .logo
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width:1080px;
    }

    .normal-content{
        width: 50%;
        margin-bottom: 10vh;
        position: relative;
    }

    .img-fender {
        position: absolute;
    }
    .img-fender.lesson
    {   
        position: absolute;
        top: 30vh;
        left: 55vw;
        width: 40vw;
        height: 40vh;
    }

    .mid-message.fender
    {   
        position: absolute;
        top: 22vh;
        left: 50%;
        font-size: 2rem;
        color: #fff;
    }

}