@charset 'utf-8';


@media (min-width: 1024px) 
{
    #scroll-section-0 h1
    {
        font-size: 9vw;
    }
    .main-message
    {
        font-size: 4vw;
    }
    .discription
    {
        font-size: 2rem;
    }
    .discription strong
    {
        font-size: 6rem;
    }
    #scroll-section-2 .main-message
    {
        font-size: 6vw;
    }
    .main-message small
    {
        font-size: 1.5vw;
    }
    .desc-message
    {
        width: 20%;
    }
}